@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

header {
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: center;

    .header {
        height: 100%;
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .icon-item {
            height: 20px;
            width: 20px;
        }

        .menu-navigation {
            height: 100%;
            width: 30%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            p {
                margin-left: 1em;
            }
        }

        .logo-header {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            height: 100%;
            width: auto;
            flex-direction: column;
            line-height: 22px;
            h2 {
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                font-size: 28px;
                span {
                    color: rgba(0, 0, 0, 0.583);
                }
            }
        }
        
        .items-header {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 100%;
            width: 30%;
            .item {
                font-size: 14px;
                height: auto;
                width: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                .number-shop {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 15px;
                    width: 15px;
                    bottom: -30%;
                    right: -25%;
                    background-color: brown;
                    color: white;
                    border-radius: 15px;
                    font-size: 10px;
                }
            }
            .item:nth-child(2) {
                margin: 0 0em 0 2em;
            }
        }
    }
}